*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(247, 245, 243);
    font-family:cursive;
}

header, nav{
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}


h1{
    color:rgb(229, 49, 112) ;
}
h3, h5{
    color: white;
}
h6{
    color:rgb(69, 175, 208) ;
}


.container{
    margin: auto;
    max-width: 1170px;
    max-height: 800px;
    
}

/*CLEARFIX*/
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}

.card {
    
    margin-right:10px;
    background-color: black;
    padding: 0 10px;  
    
}

.cv div {
    float:left;
    background-color: black;
    
}
